{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<br>
<br>
<br>
<h1 style="text-align: center;">로그인</h1>
<br>
<br>
<form style="text-align: center;" method="POST" action="{% url 'login'%}">

    {% csrf_token %}
    아이디:
    <br>
    <input name="username" type="text" value="" style="border-radius:1rem;">
    <br>
    <br>
    비밀번호:
    <br>
    <input name="password" type="password" value="" style="border-radius:1rem;">
    <br>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="로그인" style="background-color:#C80E47;border: none;">
</form>

{% endblock %}