.mywrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: space-around;

}

#progress {
    display: flex;
    justify-content: center;
}

.mypictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.picture {
    height: 33%;
    width: 33%;
    border-radius: 1rem;
    background-color: white;
    box-shadow:
        0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05),
        0 0 1px 0 rgba(0, 0, 33, 0.09) ;
}