.mywrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: space-around;

}

#progress {
    display: flex;
    justify-content: center;
}

.mypictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.picture {
    height: 32%;
    width: 32%;
    border-radius: 1rem;
    background-color: white;
}